// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}
.Header-Wrapper{
  background: rgba(230, 232, 234, 1);
}
.Header-Banner{
  padding:2% 0;
}
.Header-Banner-Left-Logo{
  width: 80%;
}
.Header-Banner-Right{
  padding: 2% 0 0 0;
  color: #012257;
  h8{
    border-bottom: 2px solid #012257  ;
    margin:0;
    padding: 0 3% 0 0 ;
  }
  h6{
    margin:0;
  }
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}
@media all and (max-width: 600px) {
  .Header-Banner-Left-Logo{
    width: 90%;
    margin:0 4%;
  }
}
@media all and (max-width: 640px) {
  .Header-Banner-Right{
    display: none;
  }
}
